b,
strong {
	font-weight: bold;
}

.texto_curso p:last-of-type {
    margin-bottom: 5px;
}

/*tema*/
.tema {
    color: #00598C;
    font-size: 24px;
}


/*TOC*/

#indice .units ul li.active:not(.disabled),
#indice .units ul li:focus:not(.disabled) {
    background: #E4A92B;
}

body:not(.isTablet) #indice .units ul li:hover:not(.disabled),
#indice .units ul li:hover:not(.disabled) {
    background: #E4A92B;
}

body:not(.isTablet) #indice .units ul li:hover:not(.disabled),
#indice .units ul li:hover:not(.disabled) {
    background: #E4A92B;
}

body:not(.isTablet) #indice .units ul li:not(.disabled) a:hover .title,
body:not(.isTablet) #indice .units ul li.active:not(.disabled) a .title {
    font-size: 18px;
    font-weight: 400;
}


body:not(.isTablet) #indice .units ul li.active:not(.disabled) a .title {
	font-size: 14px;
	font-weight: bold;
}


body:not(.isTablet) #indice .units ul li:not(.disabled) a .title:hover {
	color: #fff;
}




/*General */
#book-index #indice .units ul li a .title {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
}

/*Input Blanco*/
.input_blanco .slide_main .html-book input {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background: #fff;
}

/*logo*/
.libro-left ul li .title:before {
	content: "";
	background-size: contain;
	top: 3px;
	background-image: url(imagenes_difusion/thespanishhub_logo.png) !important;
	position: fixed;
	width: 80px;
	height: 40px;
	background-repeat: no-repeat;
	left: 50%;
	margin-left: -40px;
}

/*video*/
.vjs-poster {
	background-color: #fff;
}

body {
	font-size: 1.8rem;
	font-weight: normal;
	text-align: left;
	font-weight: lighter;
}

.slide-wrapper {
	text-align: left;
}



/*ENLACE WEB*/

#actividad a,
body:not(.edit) #actividad a:not(.cke_button):not(.zoom_flag_img) {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: transparent;
	padding: 0px 5px;
	color: #333;
	font-weight: 600;
	text-decoration: none;
}
/*INDICE LATERAL*/

#indice .units ul li:not(.add) a .title {
	font-size: 14px;
	font-weight: 400;
	margin-left: 10px;
}


body:not(.isTablet) #book-index #indice .units ul li:not(.disabled) a:hover,
#book-index #indice .units ul li.active a {
	background: #b7b7b7;
}

.libro-left ul li a.book-index.active {
    background-color: #E4A92B;
}

#book-index .col-main {
	background: #facc23 !important;
}


#book-index .col-indice {
    background: #E4A92B;
}


body:not(.isTablet) #book-index #indice .units ul li:not(.disabled) a:hover,
#book-index #indice .units ul li.active a {
    background: #af8120;
}


#indice .unit-content .header {
    background: #60B967 !important;
}

#indice .unit-content .header .title {
	color: #fff;
    float: left;
    font-size: 28px;
    font-weight: 300;
    line-height: 34px;
    padding: 5px 20px;
    height: 145px;
    margin: 5px 10px 20px 8px;
    overflow: hidden;
    z-index: 1;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}


#book-index #indice .unit-content .actividades .item .title {
	font-size: 14px;
}

#indice .unit-content .actividades .item .title {
    font-size: 18px;
    font-weight: 400;
}

#indice .unit-content .actividades .item .title {
    max-width: 300px;
}

#indice .unit-content .actividades .item .nota {
	background-color: #428bca;
}





body:not(.isTablet) #indice .units ul li:not(.disabled) a:hover .title,
body:not(.isTablet) #indice .units ul li.active:not(.disabled) a .title {
	font-size: 14px;
	font-weight: 400;
}


#book-index #indice .unit-content a:hover,
#indice .units ul li a:hover,
#indice .actividades a:hover,
#book-index #indice .unit-content a:active,
#indice .units ul li a:active,
#indice .actividades a:active,
#book-index #indice .unit-content a:focus,
#indice .units ul li a:focus,
#indice .actividades a:focus {
	color: #E4A92B;
}

#book-index #indice .unit-content .actividades .item {
	background: #facc23;
}

body:not(.isTablet) #book-index #indice .unit-content .actividades .item:hover,
#book-index #indice .unit-content .actividades .item.active,
#book-index #indice .unit-content .actividades .item.current {
    color: #000;
    background: #e4ba1f;
}

#book-index #indice .units ul li a .title {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

#book-index #indice .unit-content .content .title-buttons .btn {
    font-size: 16px;
    color: #666;
}

#book-index #indice .unit-content .content .title-buttons {
   border-bottom: 1px solid #666; 
}

#book-index #indice .unit-content .actividades .item .title {
    font-size: 15px;
}

.pearson_BR_test-navbar h3 {
	width: 75%;
	margin: auto;
	margin-bottom: 15px;
	font-size: 2.0rem;
	font-weight: bold;
}

#actividad .content .header .title h3 {
	color: #60B967;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #60B967;
    padding: 0px 30px 4px 0px;
    font-weight: 300;
    font-size: 30px;
}

#actividad .content .header .title h3::before{
	content: '';
	display: none;
}

.slide_main input:focus,
.slide_main .form-control:focus {
	border-color: #aaa;
}

.slide_main .html-book input {
    background: #fff;
}

.pearson_BR_test-navbar {
	position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
    border-bottom: 4px solid #41BEA2;
    background:#41BEA2;
}


.libro-left ul li .title:before {
    display: none;
}

.logo-publisher {
	display: none;
	background: none;
}

body.is_app .pearson_BR_test-navbar {
	-webkit-transition: top 0.5s linear;
	-o-transition: top 0.5s linear;
	-moz-transition: top 0.5s linear;
	transition: top 0.5s linear;
}

body.is_app .pearson_BR_test-navbar.ocultar {
	top: -136px;
}

.pearson_BR_test-navbar .navbar-content {
	width: 100%;
	height: 100%;
	padding: 0 20px;
	text-align: center;
}

.pearson_BR_test-navbar .copyright {
	color: #fff;
	line-height: 5.0rem;
}

.slider-navigator:hover,
.slider-navigator.disabled {
	opacity: .5;
	filter: alpha(opacity=50);
}

#actividad .workspace.chooseblanks .inline-answer a {
	margin: -7px 2px 2px 2px;
}

.bck-i-fullscreen figcaption {
	margin-top: -20px;
	border-bottom: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: transparent;
}

/*Icono audio*/
#actividad .player.audio {
	background-image: url(imagenes_difusion/img_audio.png);
	color: #fff;
}


#actividad .content img.player,
#actividad .player.audio,
#actividad .player.video,
#help-panel-content .player,
#remote-alert-modal-rich .player {
	height: 25px !important;
	width: 27px;
	display: inline-block;
	background-repeat: no-repeat;
	border-radius: 100%;
	margin: 0 5px;
	vertical-align: sub;
}

.bck-sub-label,
.bck-file-label {
	background: transparent;
	-webkit-border-radius: 5px 5px;
	-moz-border-radius: 5px 5px;
	border-radius: 5px 5px;
	max-width: 200px;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	text-align: center;
	overflow-wrap: break-word;
}

.bck-file-attach:before {
	content: " ";
	background-image: url(imagenes_difusion/icono_transcripciones.png);
	background-repeat: no-repeat;
	padding: 10px;
	background-size: contain;
	margin-top: 4px;
	position: absolute;
}

.bck-file-attach img {
	display: none;
}

.bck-file-attach span {
	display: inline-block;
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 20px;
}
/*--------------------------------TÍTULOS----------------------------------*/

/*título genérico*/

.bck-title {
	color: #60B967;
	border-bottom: none;
	font-weight: inherit;
}


/*TITULO 1*/
h4.bck-title1 {
    background: #00598C;
    width: fit-content;
    color: #009AD7;
    border-bottom: 5px solid #009AD7;
    padding: 5px 45px 3px 30px;
    margin-left: -30px;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    text-shadow: -1px -2px 0px #fff;
}

/*TITULO 2*/

h4.bck-title2 {
    background: #00598C;
    color: #fff;
    width: fit-content;
    padding: 5px 15px;
    -webkit-box-shadow: 10px 10px 0 0 #cdc1de;
    box-shadow: 10px -5px 0 0 #cdc1de;
}
/*título 3*/

.bck-title-3 {
    font-weight: 100;
    color: #60B967;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #60B967;
    padding: 0px 30px 4px 0px;
    font-weight: 300;
    font-size: 24px;
}

/*título 4*/

.bck-title-4 {
	font-weight: bold;
	border-bottom: none;
}

/*--------------------------------ENFASIS----------------------------------*/

/*ÉNFASIS*/

.bck-enfasis {
    color: #fff;
    font-weight: normal;
    -webkit-box-shadow: 10px 10px 0 0 #6b4895;
    box-shadow: 6px -3px 0 0 #6b4895;
    background: #6b4895;
    margin-right: 10px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 2px 7px;
    border: 2px solid #CDC1DE;
}

/*ÉNFASIS2*/

.bck-enfasis2 {
    color: #fff;
    font-weight: normal;
    -webkit-box-shadow: 10px 10px 0 0 #CDC1DE;
    box-shadow: 6px -3px 0 0 #CDC1DE;
    background: #6b4895;
    margin-right: 10px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 2px 7px;
    border: 2px solid #6b4895;
}


/* Lists */


.foro_wiki_cke_text ul li,
.texto_curso ul li,
.popover-template .popover-content ul li,
.workspace ul li ul li,
.cke_contents ul li, 
.preview ul li {
    padding-left: 0px;
}

.texto_curso ul,
.texto_curso ol,
.workspace:not(.multiple-choice,.matching,.ordenar,.clasificar,.test) ul li ul, 
.workspace:not(.multiple-choice,.matching,.ordenar,.clasificar,.test) ul li ol,
.cke_contents ul, .cke_contents ol, .popover-content ul, .popover-content ol {
    margin-bottom: 20px;
    padding-inline-start: 15px;
}


 .bck-ol li ,
 .bck-ol-2 li,
 .bck-ol-3 li,
 .bck-ol-4 li,
 .bck-ol-5 li,
 .bck-ol-6 li,
 .bck-ol-7 li,
 .bck-ol-8 li,
 .bck-ol-9 li,
 .bck-ol-10 li{
    list-style-type: none;
    counter-increment: bck-li-counter 1;
    position: relative;
    padding-left: 25px;
    margin-left: -15px;
}



/*Lista 1*/

.content ol.bck-ol li:before,
.cke_contents ol.bck-ol li:before{
    content: counter(bck-li-counter);
    display: block;
    position: absolute;
    top: 1px;
    left: -10px;
    margin: auto;
    color: #fff;
    background: #009C9B;
    text-align: center;
    width: 25px;
    height: 22px;
    line-height: 2.0rem;
    font-weight: bold;
    border-radius: 20px;
}

/*Lista 2*/

.content ol.bck-ol-2 li:before,
.cke_contents ol.bck-ol-2 li:before{
    content: counter(bck-li-counter)'.';
    position: relative;
    margin-left: -33px;
    margin-right: 8px;
    text-align: right;
    color: #000;
    margin-top: -4px;
    padding: 4px 6px;
    font-family: sans-serif;
}


/*Lista 3*/

.content ol.bck-ol-3 li:before,
.cke_contents ol.bck-ol-3 li:before{
    content: counter(bck-li-counter);
    display: block;
    position: absolute;
    top: 1px;
    left: -10px;
    margin: auto;
    color: #fff;
    background: #FBB900;
    text-align: center;
    width: 25px;
    height: 22px;
    line-height: 2.0rem;
    font-weight: bold;
    border-radius: 20px;
}

/*Lista 4*/

 .content ol.bck-ol-4 li:before,
 .cke_contents ol.bck-ol-4 li:before{
   content: counter(bck-li-counter);
    display: block;
    position: absolute;
    top: 1px;
    left: -10px;
    margin: auto;
    color: #fff;
    background: #E67108;
    text-align: center;
    width: 25px;
    height: 22px;
    line-height: 2.0rem;
    font-weight: bold;
    border-radius: 20px;
}



/*Lista 5  a,b,c*/

.content ol.bck-ol-5 li:before,
.cke_contents ol.bck-ol-5 li:before{
    content: counter(bck-li-counter, lower-alpha)')';
    position: relative;
    text-align: right;
    font-family: sans-serif;
    margin-right: 10px;
    margin-left: -27px;
    font-weight: bold;
}

/*Lista 6*/

.content ol.bck-ol-6 li:before,
.cke_contents ol.bck-ol-6 li:before{
    content: counter(bck-li-counter, lower-alpha)'.';
    position: relative;
    text-align: right;
    font-family: sans-serif;
    margin-right: 10px;
    margin-left: -27px;
    font-weight: bold;
}

/*Lista 7*/

 .content ol.bck-ol-7 li:before,
 .cke_contents ol.bck-ol-7 li:before{
    content: counter(bck-li-counter, lower-alpha)'—';
    position: relative;
    margin-left: 0px;
    text-align: right;
    font-family: sans-serif;
    margin-right: 10px;
     text-transform: uppercase;
}




/*LISTA DESORDENADA POR DEFECTO*/

.texto_curso ul li:before, .workspace ul li ul li:before, .cke_contents ul li:before {
    width: 6px;
    height: 6px;
    background-color: #414141;
}

.bck-box p {
	display: inline-block;
}

.bck-box .bck-content {
	text-align: left;
	padding: 10px;
}


.bck-box {
    background: #fff;
}

/*CAJA1*/

.bck-box .bck-box-1 {
	border: 1px solid #60B967;
    margin: auto;
    margin-bottom: 20px;
    background: #fff;
    min-height: 247px;
}

.bck-box-1 .bck-title {
	color: #fff;
    font-weight: 300;
    background-color: #60B967;
    padding: 10px;
}

.bck-box.bck-box-1 .bck-content {
	  padding: 10px 20px;
	  border: 1px solid #60B967;
}


.bck-box.bck-box-1:after{
	display:none;
}

.bck-box.bck-box-1:before{
	display:none;
}

/*CAJA2*/
.bck-box.bck-box-2 {
	background: transparent;
	border: 3px dotted #60B967;
	margin-top: 20px;
	border-radius: 0px;
}

.bck-box.bck-box-2 .bck-content {
	color: #808285;
	background: #fff;
}

.bck-box.bck-box-2 .bck-title {
	color: #9D9D9C;
	background: #fff;
}


/*CAJA 3*/
.bck-box.bck-box-3 {
	background: #fff;
	border: 2px solid #60B967;
	text-align: left;
}

.bck-box.bck-box-3 .bck-content {
	padding: 4px 10px 15px;
	margin-left: 20px;
    margin-right: 20px;
}

.bck-box.bck-box-3 .bck-title {
	padding: 10px 25px;
	border: 0px;
	color: #9D9D9C;
	font-weight: bold;
	background: #fff;
}


/*CAJA4*/
.bck-box.bck-box-4 {
	min-height: 80px;
	margin-top: 15px;
	border: 1px solid #60B967;
}

.bck-box-4 .bck-title {
	padding: 10px 25px;
	border: 0px;
	color: #60B967;
	font-weight: bold;
}

.bck-box.bck-box-4 .bck-content {
	padding: 4px 10px 15px;
	margin-left: 20px;
    margin-right: 20px;
}

.bck-box.bck-box-4 {
	background: #fff;
	text-align: left;
}



/*CAJA5*/

.bck-box-5 .bck-title {
	border-bottom: 0px solid #eee;
	color: #60B967;
	font-weight: bold;
	padding: 10px;
}

.bck-box.bck-box-5 {
    min-height: 0;
	margin-top: 15px;
	padding: 10px;
	background-color: #60b96729;
}



/*-------------------------------------------------CAJA POP-UP--------------------------------*/
.info-popover .popover-title:before,
.popover-template .popover-title:before {
	color: #728fa6;
}

.info-popover .popover-title:before, .popover-template .popover-title:before {
    color: #fff;
    background: transparent;
}

.info-popover .popover-title,
.popover-template .popover-title {
	background: #41BEA2;
}

.info-template .info-title {
	color: #333;
}

.info-template .info-title.shown {
	margin: 0 3px 12px 0;
}

.info-template .info-title.shown:before {
	display: none;
}

/*icono info*/
.fa-info:before {
	content: "+";
	font-weight: bold;
	line-height: 20px;
	color: #333;
}

#actividad .info-button {
	display: block;
	width: 24px;
	height: 24px;
	margin: 0px;
	-webkit-box-shadow: 0 0 2px #555;
	-moz-box-shadow: 0 0 2px #555;
	box-shadow: 0 0 2px #555;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	color: #1a171b;
	font-family: 'FontAwesome';
	line-height: 24px;
	text-align: center;
}

/*Pop-up flotante*/
.info-template {
	position: fixed;
	top: 100px;
	right: 0;
	-webkit-transform: translateX(105%);
	-moz-transform: translateX(105%);
	-ms-transform: translateX(105%);
	-o-transform: translateX(105%);
	transform: translateX(105%);
	z-index: 1000;
	width: 135px;
	height: auto;
	-webkit-box-shadow: 0 0 2px #555;
	-moz-box-shadow: 0 0 2px #555;
	box-shadow: 0 0 2px #555;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	background: #fff;
	padding: 15px 5px 0;
	-webkit-transition: all ease-in-out .5s;
	-o-transition: all ease-in-out .5s;
	-moz-transition: all ease-in-out .5s;
	transition: all ease-in-out .5s;
}

/*FIP-BOX*/
body:not(.edit) .bck-flipbox-face.back {
    background: #41BEA2;
    }

body:not(.edit) .bck-flipbox-face.front, body:not(.edit) .bck-flipbox-face.back {
    border-width: 1px;
    border-color: #41BEA2;
    min-height: 212px;
    cursor: pointer;
}

body:not(.edit) .bck-flipbox-face.front {
    color: #41BEA2;
   cursor: pointer;
}

body:not(.edit) .front .bck-flipbox-title, body:not(.edit) .front .bck-flipbox-section {
    color: #41BEA2;
    text-align: center;
    vertical-align: middle;
   cursor: pointer;
}

body:not(.edit) .bck-flipbox {
    min-height: 185px;
    margin-bottom: 20px;
   cursor: pointer;
}


/*AJUSTES ACTIVIDADES*/


/*imagenes a huecos*/
.slide_main .fillblankimages-draggable .img-input-container {
    min-height: 80px;
    min-width: 80px;
}

/*ORDENAR*/
#actividad .workspace.ordenar .js-rank-item {
    border: 1px solid #60B967;
    }


/*RELACIONAR*/
#actividad .workspace.matching .opcion {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #60B967;
}


/*MARCAR PALABRAS*/
#actividad .markword-active {
    border-radius: 0PX!important;
    padding: 4px !important;
    border: 1px solid #60B967!important;
}

#actividad .markword-correct {
    padding: 4px !important;
    color: #78bb31 !important;
    background-color: #d8efbe !important;
    border-radius: 0PX !important;
    border: 1px solid #60B967 !important;
}

#actividad .markword-false {
    border-radius: 0px !important;
}


/*ARRASTRAR IMÁGENES*/
.fillblankimages-draggable-wrapper .response {
    border: none;
}


/*RESPUESTA MULTIPLE*/
#actividad .workspace.multiple-choice .opcion {
	border: 1px solid #60B967;
}

/*RELLENAR ESPACIOS*/
.fillblanks-draggable-wrapper .response {
    border: 1px solid #60B967;
}
   

/*Botones de actividades*/
#actividad .content .review .attemps span {
    width: auto;
    height: auto;
    font-weight: 300;
    color: #60B967;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 0px;
    text-align: center;
    padding: 0px;
    margin: 0 3px;
    display: inline-block;
    line-height: 24px;
    font-size: 40px;
}

.btn-danger,
.btn-danger[disabled] {
    background-color: #E4A92B;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    color: #E4A92B;
    background-color: #fff;
    border: 1px solid #E4A92B;
}

.btn-primary[disabled],
.btn-primary[disabled]:focus {
    color: #fff;
    background-color: #60B967;
    border-color: transparent;
}

.btn-solution,
.btn-solution.disabled,
.btn-solution[disabled],
.btn-next, .btn-next.disabled,
.btn-next[disabled] {
    background-color: #E4A92B;
}

.btn {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.btn-solution:hover,
.btn-solution:focus,
.btn-solution:active,
.btn-next:hover,
.btn-next:focus,
.btn-next:active,
.open .dropdown-toggle.btn-solution {
    color: #fff;
    background-color: #e4a92b;
    border-color: transparent;
}

.btn-primary:not([disabled]):hover,
.btn-primary:not([disabled]):focus,
.btn-primary:not([disabled]):active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #41BEA2;
}



/*Verdadero y falso*/
#actividad .workspace.true-false .tf-option {
	display: inline-block;
	margin-left: 50px;
}

#actividad .workspace.true-false li {
    margin-left: 20px;
    margin-bottom: 20px;
}

/*Fill in the blanks*/
.fillblanks-draggable-wrapper {
	text-align: left;
	margin-bottom: 20px;
	margin-left: 47px;
}

/*clasificar*/
#actividad .workspace.clasificar .clasificar_lista>ul {
	display: unset;
	min-height: 70px;
	text-align: left;
	margin-left: 47px;
}

#actividad .workspace.clasificar .clasificar_lista .classify-item {
	 border: 1px solid #60B967;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#actividad .workspace.clasificar .clasificar_conjuntos .group-name-top {
    border-bottom: 1px solid #60B967;
}

#actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
    border: 1px solid #60B967;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#actividad .workspace.clasificar .clasificar_conjuntos .group-name-title {
    display: table-cell;
    vertical-align: middle;
    color: #60B967;
    font-weight: 100;
}


/*tipo test*/

#actividad .workspace.test .checkbox-option label.filter-label,
#actividad .workspace.test .radio-option label.filter-label,
#actividad .workspace.true-false .checkbox-option label.filter-label,
#actividad .workspace.true-false .radio-option label.filter-label {
	font-size: 1.8rem;
	font-weight: 300;
	margin-left: 20px;
}

/*parejas cartas*/

#actividad .workspace.memory .flip-container p {
	font-size: 1.5rem;
}

/*botonera general*/

#actividad .class_slide {
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}


#actividad .class_slide .review { 
	margin-top: 40px;
	text-align: left;
	margin-left: 40px;
}

.btn-danger,
.btn-danger[disabled] {
	color: #fff;
	border-color: transparent;
	border-radius: 0px;
}

/* modo correcion/revision */
.info-alumno .nombre-alumno {
	max-width: 189px;
}



/**TABLA**/
table,
.bck-table {
	border: 1px solid #ccc;
}

table td,
.bck-table td {
	border-color: #ccc;
}

td,
th {
	padding-left: 10px;
}

.bck-table-center {
    color: #fff;
    margin: 0 auto;
    background: #0091d0;
    background: -moz-radial-gradient(center, ellipse cover, #0091d0 0%, #0071c4 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #0091d0 0%,#0071c4 100%);
    background: radial-gradient(ellipse at center, #0091d0 0%,#0071c4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0091d0', endColorstr='#0071c4',GradientType=1 );
}



/*Boton toc - boton reininciar ejercicio*/


.btn-primary,
.btn-primary.disabled,
.btn-primary.disabled:focus {
	background-color: #60B967;
	border-radius: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	background-color: #ac0910;
}

/*portada*/
#actividad .portada .class_slide {
	padding: 0px 97px 0px;
	margin-top: -2%;
}

#actividad .carousel-inner .portada .item-container {
	padding-bottom: 0px;
}


#actividad .carousel-inner .item-container {
    background: #fff;
}

#actividad .carousel-inner .item-container.aux-bckg .class_slide {
	background-color: transparent;
}

#actividad .content .portada img:not(.bck-cam-button) {
	margin-top: 0px;
	margin-bottom: 0px;
}


/**iframe**/
#iframe_div.scorm {
	width: 100% ! important;
	height: 100% ! important;
	top: 0px ! important;
	left: 0px ! important;
	background-color: #CCCCCC;
}

#iframe_div.scorm iframe#class_iframe {
	width: 100% ! important;
	height: 100% ! important;
}

#iframe_div.scorm .btn-close-iframe {
	right: 0px;
	top: 15px;
	margin-top: 20px;
}

#iframe_div.scorm .btn-close-iframe span {
	display: none;
}

#iframe_div.scorm .btn-close-iframe a {
	padding: 16px;
	background-color: #E9E9E9;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-box-shadow: 0px 1px 5px #aaa;
	-moz-box-shadow: 0px 1px 5px #aaa;
	box-shadow: 0px 1px 5px #aaa;
}

#iframe_div.scorm .btn-close-iframe a .fa {
	font-size: 2rem;
}

/*---------------------------------------------------- DESPLEGABLES --------------------------------------------------------------*/

.bck-dropdown-content {
    overflow-y: hidden;
    overflow-x: hidden;
}

.bck-dropdown-subtitulo {
    display: none;
}


/*Dropdown 1*/
.bck-dropdown.bck-dropdown-1 {
    background-color: #ffffff;
    border: 1px solid #60B967;
    margin-top: 5px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.bck-dropdown .bck-dropdown-titulo {
    color: #60B967;
}

.bck-dropdown-1 .bck-dropdown-icon {
	background-color: #fff;
    color: #60B967;
}


/*Dropdown 2*/

.bck-dropdown-2 .fa-chevron-up:before, .bck-dropdown-2 .fa-chevron-down:before {
    content: "\f15b";
    font-size: 2.0rem;
    color: #60B967;
}

.bck-dropdown-2 .bck-dropdown-button {
    background: #fff;
    border: 1px solid #60B967;
}

/*Dropdown 3*/
.bck-dropdown.bck-dropdown-3 {
	background: #fff;
    text-align: right;
	margin-top: 10px;
}

.bck-dropdown-3 .bck-dropdown-button {
	margin-top: 0px;
	font-size: 1.2rem;
}

.bck-dropdown-3 .bck-dropdown-icon {
	background-color: transparent;
	width: 35px;
	height: 10px;
	float: right;
	color: #60B967;
}

.bck-dropdown-3 .bck-dropdown-icon>.fa {
	border: 0px solid white;
}

.bck-dropdown-3 .fa-chevron-up:before,
.bck-dropdown-3 .fa-chevron-down:before {
	font-size: 1.8rem;
}

.bck-dropdown-3 .bck-dropdown-titulo {
	font-size: 1.8rem;
	padding-left: 8px;
	font-weight: 800;
}

.bck-dropdown.bck-dropdown-3 .bck-dropdown-content  {
    background: #fff;
}


.bck-dropdown-3 .bck-dropdown-titulo:before {
	content: " ";
	position: relative;
	top: 13px;
	left: 0;
	background-size: contain;
	background-image: url(imagenes_difusion/img_casablanca.png);
	background-repeat: no-repeat;
	padding: 0px;
    margin-right: 0px;
}

.bck-dropdown-3 .bck-dropdown-content {
	background-color: #60B967;
	padding-left: 17px;
	max-height: 800%;
}



.fa-times:before {
	color: #fff;
}

@media screen and (max-width: 1024px){
	.libro-left ul li .title:before {
		left: 48%;
	}
}
